@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accent: #eb144c;

    --ratings-accent: #ff5722;
    --travelling-accent: #ff9307;
    --shopping-accent: #2196f3;
    --gofundme-accent: #00d084;
    --images-accent: #673ab7;
    --thing: 2px;
}

body {
    margin: 0;
    background-image: url("assets/memphis-mini.png");
    user-select: none;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

*:not(.fa-solid .fa-regular) {
    /*font-family: "Rubik", sans-serif;*/
    font-family: "Poppins", sans-serif !important;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

main h3 {
    margin: 0;
    margin-bottom: 40px;
}

.menu {
    background-color: rgb(246, 246, 246);
    padding: 10px 30px;
    border-radius: 5px;
    padding-bottom: 35px;
    border: grey 1px solid;
    box-shadow: 0px 2px 2px black;
}

input {
    width: 100px;
    border: grey 1px solid;
    box-shadow: 0px 2px 2px black;
    border-radius: 5px;
    padding: 5px;
}

input:focus-visible {
    outline: none;
}

.roomLayout {
    display: flex;
    justify-content: center;
}

.roomItem {
    min-width: 100px;
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    height: 500px;
    border: grey 1px solid;
    box-shadow: 0px 2px 2px black;
}

.lobbyList {
    width: 210px;
    text-align: left;
}

.lobbyList div {
    display: inline;
    float: left;
    clear: both;
    vertical-align: middle;
    margin: 1px 0px;
}

.lobbyList div i {
    margin-right: 3px;
}

.lobbyList .points {
    font-size: 13px;
    font-weight: 500;
}

.roomItem h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
}

.you {
    color: var(--accent);
    font-weight: 500;
}

.host {
    font-weight: bold;
}

.gameItem {
    width: 700px;
}

.round-number {
    margin: 0;
}

.round-topic {
    color: white;
    font-weight: 900;
    -webkit-text-stroke: 3px black;
    margin: 0;
    font-size: 60px;
}

.game {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: url('./assets/misc.png');
    background-color: rgb(244, 244, 244);
    background-size: 200px;

    animation-name: example;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.promptBox {
    transform: translate(0, 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.promptBox button {
    margin: 10px;
}

.marquee {
    animation-name: marqueeLoop;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateX(120%);
}

@keyframes marqueeLoop {
    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(-120%);
    }
}

.marquee .finals {
    flex-direction: row;
    display: flex;
}

.show {
    animation-name: showBox;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier();
    animation-fill-mode: forwards;
    filter: opacity(0%);
}

.promptBox.hide {
    animation-name: showBox;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: backwards;
    animation-direction: reverse;
}

.response-animate {
    animation-name: showResponse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    filter: opacity(0%);
    transform: translate(200%, 0%) scale(200%, 200%);
}

@keyframes showResponse {
    0% {
        filter: opacity(0%);
        transform: translate(200%, 0%);
    }

    50% {
        filter: opacity(0%);
        transform: translate(100%, 0%);
    }

    100% {
        filter: opacity(100%);
        transform: translate(0%, 0%);
    }
}

.noanim {
    animation-name: none !important;
}

.promptBox.noanim {
    transform: translate(0, 0);
}

.promptBox input {
    padding: 6px;
    margin-top: 5px;
    border: grey 1px solid;
    box-shadow: 0px 2px 2px black;
    border-radius: 5px;
    width: 400px;
    font-size: 20px;
    background-color: white;
}

.promptBox input[type="file"] {
    width: 260px;
    font-size: 15px;
}

.promptBox .message {
    background-color: white;
    border: 3px solid black;
    box-shadow: 4px 4px 0px black;
    text-align: left;
    padding: 10px;
    max-width: 90%;
    display: inline-block;
    border-radius: 4px;
}

.promptBox .message .username {
    font-weight: 700;
}

.promptBox .message .contents {
    font-size: 200%;
}

.promptBox .inputImage {
    background-color: white;
    border: 3px solid black;
    box-shadow: 4px 4px 0px black;
    text-align: left;
    padding: 10px;
    max-width: 90%;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}

.result {
    background-color: white;
    border: 3px solid black;
    box-shadow: 4px 4px 0px black;
    border-radius: 3px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("assets/dots.png");
    animation-name: example;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    width: 500px;
    margin: 20px;
    overflow: hidden;
}

.result .message {
    background-color: black;
    color: white;
    box-shadow: none;
    border: none;
    text-align: left;
    margin: 5px;
}

.result .message .contents {
    font-size: 15px;
    margin: 0px auto;
}

.contents {
    word-break: break-word;
}

.finals-wrap .result * {
    font-size: medium !important;
}

.finals-wrap .result i {
    font-size: 15px !important;
}

.finals-wrap .result .contents {
    font-size: small !important;
}

.news {
    max-width: 60%;
}

.header i {
    margin-right: 5px;
}

.news .header {
    background-color: var(--accent);
    color: white;
    font-style: italic;
    width: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    text-indent: 2px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
}
.ratings .header {
    background-color: var(--ratings-accent);
}
.travelling .header {
    background-color: var(--travelling-accent);
}
.shopping .header {
    background-color: var(--shopping-accent);
}
.gofundme .header {
    background-color: var(--gofundme-accent);
}
.images .header {
    background: var(--images-accent);
}


.news .title {
    padding: 5px;
    margin: 0;
    font-weight: bold;
    text-align: left;
    width: 97%;
}
.title span {
    word-break: break-word;
}
.news .opinion {
    font-weight: 400;
}

.flavour {
    font-weight: 800;
    filter: opacity(50%);
}

.news span {
    width: 97%;
}

.news .place {
    font-weight: 900;
    font-size: 30px;
}

.news .recommendation {
    font-size: 20px;
}

.news .place i {
    margin-right: 5px;
}

.reply-thing {
    padding-left: 5px;
}

img {
    object-fit: contain;
}

.result img {
    float: left;
    width: 140px;
    height: 140px;
    margin-right: 10px;
    border: 3px solid black;
    box-shadow: 3px 3px 0px black;
    border-radius: 5px;
    background-color: white;
}

.finals-wrap .result img {
    width: 60px;
    height: 60px;
    float: left;
}

.inputImage img {
    width: 200px;
    height: 140px;
    border: 3px solid black;
}

.promptBox p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
}

.waitingFor span {
    background-color: white;
    padding: 3px 10px;
    border-radius: 10px;
}

.timer {
    padding: 5px;
    display: block;
}

.tick {
    position: absolute;
    transform: translate(-40%, -35%);
    display: none;
}

.loading-img {
    margin-bottom: 10px;
    image-rendering: pixelated;
}

.tick i {
    font-size: 35px !important;
    transform: rotate(-20deg);
    background-color: white;
    border-radius: 100%;
    color: var(--accent);
    -webkit-text-stroke: 1.5px black;
}

.finals-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
}

.finals .result {
    display: inline;
    width: 200px;
    height: fit-content;
    margin: 5px;
    display: flex;
}

.finals .result * {
    font-size: smaller !important;
}

div.finals-results span {
    font-weight: bolder;
}

.finals .result:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.finals .result:hover * {
    filter: opacity(100%);
}

.selected {
    filter: opacity(100%);
}

.selected .tick {
    display: unset;
    z-index: 999;
}

.finals-wrap *:not(.selected) {
    filter: opacity(85%);
}

.finals-wrap .selected * {
    filter: opacity(100%);
}

.finals .result * {
    font-size: 8px;
}

.finals .result .header {
    font-size: 11px;
}

.logo {
    filter: drop-shadow(2px 2px 1px #000000);
}

button {
    background-color: var(--accent);
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: solid black 2px;
    box-shadow: 4px 4px 0px black;
}

button:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.roomItem.chatItem {
    width: 300px;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.chat-list {
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
}

.chat-message {
    width: 99% !important;
    font-size: 12px;
    word-break: break-word;
    overflow: hidden;
}

.chat-message .username {
    font-weight: 900;
}
.chat-message img {
    width: 100%;
    height: 100px;
}

.chat input {
    width: 150px;
    padding: 4px;
    margin-top: 5px;
    border: grey 1px solid;
    box-shadow: 0px 2px 2px black;
    border-radius: 5px;
}

.capture {
    filter: opacity(50%);
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    display: none !important;
}
.capture i {
    margin-right: 5px;
}
.capture:hover {
    filter: opacity(75%);
}
.finals .capture {
    display: none !important;
}

.sorry {
    display: none;
}

@media screen and (max-width:650px) {
    .roomLayout {
        display: block !important;
    }

    .roomItem {
        width: 90vw;
        height: 85vh;
    }

    .hidemobile {
        display: none !important;
    }
}

.leavebtn {
    color: var(--accent);
}
.btn i {
    width: max-content;
    height: max-content;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    border-radius: 100%;
}

.btn i:hover {
    cursor: pointer;
    color: white;
    background-color: var(--accent);
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(var(--sidebar-width) / 2);
    user-select: none;
    flex-direction: column;
    display: none;
}

.modal {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border: var(--gr) 1px solid;
    box-shadow: 0px 2px 2px black;
    min-width: 30vw;
    text-align: center;
    padding-bottom: 15px;
}

.show-modal {
    display: flex;
}

.show-modal .modal {
    transform: scale(0%, 0%);
    animation-name: showmodal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: opacity(0%);
}

.closebtn {
    float: right;
    font-size: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 100%;
}

.closebtn:hover {
    cursor: pointer;
    background-color: #c9c9c9;
}

@keyframes showmodal {
    from {
        transform: scale(0%, 0%);
        filter: opacity(0%);
    }

    to {
        transform: scale(100%, 100%);
        filter: opacity(100%);
    }
}

@keyframes showBox {
    from {
        transform: translate(0, 100%);
        filter: opacity(0%);
    }

    to {
        transform: translate(0, 0%);
        filter: opacity(100%);
    }
}

@keyframes example {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 200px 195px;
    }
}


/* custom boxes section */

.news-box {
    border-radius: 5px;
    border: solid gray 2px;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.363);
    padding-top: 4px;
}
.ratings-box {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.shopping-box {
    border-radius: 5px;
    border: solid gray 2px;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.363);
    padding-top: 4px;
    margin: 5px;
    overflow: hidden;
    width: 90%;
}
.travelling-box {
    border-radius: 5px;
    border: solid gray 2px;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.363);
    padding-top: 4px;
    width: 95%;
    margin: 5px;
}
.ratings-box-addition {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    filter: opacity(70%);
}
.news-box-addition, .gofundme-box-addition, .shopping-box-addition, .travelling-box-addition {
    font-weight: 900;
    filter: opacity(50%);
    vertical-align: middle;
    font-style: italic;
    width: 100%;
    display: inline;
}
.travelling-box-addition {
    font-style: normal;
    font-size: 15px;
    display: inline-block;
}
.shopping-box-addition {
    filter: opacity(70%);
    display: inline-block;
}
.shopping-box .title {
    padding: 0;
    margin: 0;
}
.shopping-rating {
    color: var(--shopping-accent);
}
.cart {
    float: right;
    font-style: normal;
    color: white;
    background-color: black;
    width: fit-content !important;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    vertical-align: middle;
    background-color: var(--shopping-accent);
    filter: opacity(100%);
}
.cart i {
    margin-right:5px;
    font-size: 15px;
    vertical-align: middle;
}
.live {
    margin-right: 3px;
    font-size: 13px;
    vertical-align: middle;
    color: var(--accent);
}

.gofundme-box-addition {
    text-align: right;
    display: inline-block;
}
.price {
    font-style: normal;
    filter: opacity(90%);
    font-weight: 700;
    font-size: 20px;
}
.raised {
    font-weight: 800;
    filter: opacity(80%);
    font-style: normal;
}
.bar {
    width: 100%;
    height: 10px;
    background-color: rgb(214, 214, 214);
    margin: 5px 0px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
}
.bar .fill {
    width: 50%;
    height: 100%;
    background-color: var(--gofundme-accent);
}
.backing {
    font-size: 13px;
}
